name: Daily Trade Scraper
on:
  schedule:
    - cron: '0 2 * * *' # Runs at 2 AM daily
  workflow_dispatch: # Allows you to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install pandas requests lxml
      - name: Run Scraper
        run: python cron_scraper.py
      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add daily_trades.csv
          git commit -m "Auto-update trade data" || exit 0
          git push